.section {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #000;
}

.image {
  max-width: 105%;
}

.navbar {
  border-style: solid;
  border-width: 1px;
  border-color: #000;
  background-color: #000;
}

.container {
  margin-right: 16px;
  margin-bottom: -83px;
  padding-right: 0px;
  padding-left: 0px;
  border-style: solid;
  border-width: 1px;
  border-color: #000;
  background-color: #000;
  mix-blend-mode: normal;
}

.nav-link {
  -o-object-fit: fill;
  object-fit: fill;
}

.nav-link.w--current {
  cursor: pointer;
}

.text-span {
  color: #fff;
  cursor: pointer;
}

.nav-link-2 {
  color: #fff;
  cursor: pointer;
}

.nav-link-3 {
  color: #fff;
  cursor: pointer;
}

.image-2 {
  max-height: 50px;
  max-width: 80%;
}

.button {
  max-width: 100px;
  margin: 13px auto -19px;
  padding-top: 6px;
  padding-bottom: 5px;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
}

.section-2 {
  padding-bottom: 0px;
}

.container-2 {
  max-height: 500px;
  max-width: 550px;
  -o-object-fit: fill;
  object-fit: fill;
}

.image-3 {
  padding-right: 0px;
  border-radius: 0px;
  -o-object-fit: fill;
  object-fit: fill;
  -o-object-position: 50% 60%;
  object-position: 50% 60%;
}

.heading {
  font-size: 55px;
}

.columns {
  position: static;
  -o-object-fit: fill;
  object-fit: fill;
}

.heading-2 {
  font-family: Ubuntu, Helvetica, sans-serif;
}

.heading-3 {
  display: block;
  overflow: visible;
  max-height: 150px;
  margin-top: 22px;
  margin-bottom: 114px;
  padding-bottom: 350px;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 100px;
  line-height: 72px;
  font-weight: 700;
  text-align: left;
  text-decoration: none;
  -o-object-fit: cover;
  object-fit: cover;
}

.paragraph {
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 20px;
}

.paragraph-2 {
  font-family: Ubuntu, Helvetica, sans-serif;
}

.div-block {
  background-color: #3898ec;
}

.block-quote {
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #fff;
  text-align: center;
}

.button-2 {
  display: block;
  margin-right: 100px;
  margin-bottom: -67px;
  margin-left: 100px;
  padding: 20px 14px 20px 0px;
  border-radius: 20px;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 35px;
  text-align: center;
}

.paragraph-3 {
  margin-bottom: 6px;
  padding-bottom: 6px;
  border-radius: 14px;
  background-color: #3898ec;
  direction: ltr;
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #fff;
  font-size: 25px;
  line-height: 55px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  letter-spacing: normal;
  text-indent: 0px;
  -webkit-column-count: auto;
  column-count: auto;
  white-space: normal;
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
}

.paragraph-4 {
  text-align: center;
}

.columns-2 {
  background-color: #000;
}

.section-3 {
  background-color: #000;
  opacity: 1;
  outline-color: #000;
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 0px;
  mix-blend-mode: normal;
}

.column {
  opacity: 0;
  outline-color: #000;
  outline-offset: 0px;
  outline-style: none;
  outline-width: 0px;
}

.column-2 {
  opacity: 0;
}

.column-3 {
  opacity: 0.21;
}

.column-4 {
  opacity: 1;
}

.container-3 {
  opacity: 0;
}

.heading-4 {
  color: #fff;
}

.heading-5 {
  color: #fff;
}

.columns-3 {
  opacity: 0;
}

.heading-6 {
  opacity: 1;
  color: #fff;
}

.image-4 {
  background-color: #000;
  opacity: 1;
}

.image-5 {
  box-shadow: 1px 1px 3px 0 #000;
  opacity: 1;
  outline-color: #333;
  outline-offset: 0px;
  outline-style: none;
  outline-width: 3px;
  mix-blend-mode: normal;
}

.container-4 {
  padding-left: 116px;
}

.heading-7 {
  background-color: #000;
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #fff;
}

.heading-8 {
  text-align: center;
}

.section-4 {
  background-color: #000;
}

.image-6 {
  margin-top: 0px;
}

.heading-9 {
  background-color: #fff;
  color: #333;
  text-align: center;
}

.heading-10 {
  background-color: #fff;
  text-align: center;
}

.heading-11 {
  background-color: #fff;
  text-align: center;
}

.heading-12 {
  background-color: #fff;
  text-align: center;
}

.column-5 {
  margin-bottom: -200px;
  background-color: #000;
  line-height: 19px;
}

.column-6 {
  background-color: #000;
}

.column-7 {
  background-color: #000;
}

.column-8 {
  background-color: #000;
}

.column-9 {
  padding-top: 71px;
}

.section-5 {
  background-color: #3898ec;
}

.heading-13 {
  color: #fff;
}

.image-7 {
  text-align: center;
}

.column-10 {
  background-color: #fdd5a3;
  text-align: center;
}

.column-11 {
  background-color: #fdd5a3;
}

.column-12 {
  background-color: #fdd5a3;
}

.columns-4 {
  background-color: #fdd5a3;
}

.section-6 {
  margin-top: -111px;
  margin-bottom: -92px;
  padding-bottom: 200px;
  background-color: #000;
}

.button-3 {
  margin-top: 89px;
  margin-right: 200px;
  margin-left: 200px;
  padding: 27px 220px;
  border-radius: 20px;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 35px;
  mix-blend-mode: normal;
}

.button-4 {
  margin: 32px 300px 35px 270px;
  padding-top: 19px;
  padding-right: 150px;
  padding-left: 150px;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.image-8 {
  -webkit-transition: -webkit-flex-shrink 600ms ease, -webkit-flex-shrink 600ms ease;
  transition: -webkit-flex-shrink 600ms ease, -webkit-flex-shrink 600ms ease;
  transition: flex-shrink 600ms ease;
  transition: flex-shrink 600ms ease, -webkit-flex-shrink 600ms ease, -webkit-flex-shrink 600ms ease, -ms-flex-negative 600ms ease;
}

.footer-dark {
  position: relative;
  padding: 50px 30px 15px;
  border-bottom: 1px solid #e4ebf3;
  background-color: #f5f7fa;
}

.container-5 {
  width: 100%;
  max-width: 940px;
  margin-right: auto;
  margin-left: auto;
}

.footer-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 900px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.footer-content {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 70px;
  grid-row-gap: 40px;
  -ms-grid-columns: auto auto 1fr;
  grid-template-columns: auto auto 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.footer-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.title-small {
  margin-bottom: 12px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.footer-link {
  margin-top: 12px;
  margin-bottom: 6px;
  color: #1a1b1f;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
}

.footer-link:hover {
  color: rgba(26, 27, 31, 0.75);
}

.footer-social-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 12px;
  margin-left: -12px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-social-link {
  margin-left: 12px;
}

.footer-divider {
  width: 100%;
  height: 1px;
  margin-top: 70px;
  margin-bottom: 15px;
  background-color: #e4ebf3;
}

.footer-copyright-center {
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}

.image-9 {
  margin-top: 16px;
  margin-bottom: -57px;
  margin-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.heading-14 {
  margin-top: -10px;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 40px;
  line-height: 80px;
}

.text-block {
  font-family: Ubuntu, Helvetica, sans-serif;
  font-weight: 500;
}

.list-item {
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 30px;
  line-height: 50px;
  font-weight: 700;
}

.list-item:hover {
  line-height: 40px;
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
}

.list-item-2 {
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 30px;
  line-height: 50px;
  font-weight: 700;
}

.section-7 {
  margin-top: 10px;
}

.list-item-3 {
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 30px;
  line-height: 50px;
  font-weight: 700;
}

.list-item-4 {
  font-family: Ubuntu, Helvetica, sans-serif;
}

.list-item-5 {
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 30px;
  line-height: 50px;
  font-weight: 700;
}

.list-item-6 {
  font-family: Ubuntu, Helvetica, sans-serif;
}

.list-item-7 {
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
}

.list-item-8 {
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 30px;
  line-height: 50px;
  font-weight: 700;
}

.list-item-9 {
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 30px;
  line-height: 50px;
  font-weight: 700;
}

.image-10 {
  padding-top: 0px;
  padding-bottom: 17px;
}

.section-8 {
  margin-top: -10px;
}

.section-9 {
  padding-top: 0px;
}

.contact-form {
  margin-bottom: -76px;
  padding-top: 24px;
  padding-bottom: 100px;
}

.contact-form-grid {
  display: -ms-grid;
  display: grid;
  margin-top: 40px;
  grid-auto-columns: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.heading-15 {
  font-family: Ubuntu, Helvetica, sans-serif;
}

.heading-16 {
  font-family: Ubuntu, Helvetica, sans-serif;
}

.field-label {
  font-family: Ubuntu, Helvetica, sans-serif;
}

.field-label-2 {
  font-family: Ubuntu, Helvetica, sans-serif;
}

.field-label-3 {
  font-family: Ubuntu, Helvetica, sans-serif;
}

.field-label-4 {
  font-family: Ubuntu, Helvetica, sans-serif;
}

.field-label-5 {
  font-family: Ubuntu, Helvetica, sans-serif;
}

.italic-text {
  font-family: Ubuntu, Helvetica, sans-serif;
}

.heading-17 {
  font-family: Ubuntu, Helvetica, sans-serif;
}

.submit-button {
  font-family: Ubuntu, Helvetica, sans-serif;
}

.text-block-2 {
  padding-top: 6px;
  padding-bottom: 6px;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 20px;
}

.image-11 {
  border-radius: 11px;
}

.heading-18 {
  font-family: Ubuntu, Helvetica, sans-serif;
}

.text-block-3 {
  font-family: Ubuntu, Helvetica, sans-serif;
  line-height: 37px;
}

.text-block-4 {
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 37px;
}

.section-10 {
  padding-bottom: 41px;
}

.container-6 {
  padding-right: 0px;
}

.link-block {
  position: absolute;
}

.link-block.w--current {
  padding-right: 132px;
  cursor: pointer;
}

.link-block-2 {
  position: absolute;
  margin-right: -149px;
  margin-left: 32px;
  cursor: pointer;
}

.link-block-3 {
  position: static;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.link-block-4 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.link-block-5 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.link-block-6 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.link-block-7 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.link-block-8 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.link-block-9 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.link-block-10 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.link-block-11 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.link-block-12 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.contact-form-2 {
  margin-bottom: -76px;
  padding-top: 0px;
  padding-bottom: 100px;
}

.dropdown {
  margin-right: 200px;
  padding-right: 200px;
  padding-left: 0px;
}

.select-field {
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding: 0px 59px 0px 57px;
}

.form {
  margin-bottom: -32px;
  padding-bottom: 0px;
}

.heading-19 {
  margin-right: 13px;
  margin-bottom: 19px;
  padding-top: 32px;
  padding-bottom: 0px;
  padding-left: 29px;
}

.select-field-2 {
  padding-left: 36px;
}

.html-embed {
  padding-left: 52px;
}

.heading-20 {
  padding-right: 27px;
  padding-left: 29px;
}

.heading-21 {
  margin-bottom: -10px;
  padding-right: 27px;
  padding-left: 24px;
}

.select-field-3 {
  margin: -57px auto 22px;
  padding-top: 10px;
  padding-right: 0px;
  padding-left: 44px;
}

.submit-button-2 {
  margin-right: 165px;
  margin-bottom: 29px;
  margin-left: 22px;
  padding-right: 27px;
  padding-left: 27px;
  font-family: Ubuntu, Helvetica, sans-serif;
}

.heading-22 {
  margin-top: 200px;
  margin-bottom: 51px;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 80px;
  line-height: 55px;
  text-align: center;
}

.link-block-13 {
  position: static;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.link-block-14 {
  padding-right: 3px;
}

.link-block-15 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  margin-right: -32px;
  padding-right: 33px;
}

.image-12 {
  margin: -165px 200px 41px;
  padding: 0px 44px 146px 0px;
}

.image-13 {
  margin-right: 0px;
  margin-bottom: 44px;
  margin-left: 200px;
  padding: 0px 8px 0px 0px;
}

@media screen and (max-width: 991px) {
  .container-5 {
    max-width: 728px;
  }

  .footer-content {
    grid-column-gap: 60px;
  }
}

@media screen and (max-width: 767px) {
  .footer-dark {
    padding-right: 15px;
    padding-left: 15px;
  }

  .footer-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .footer-content {
    margin-top: 40px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .footer-block {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .footer-link:hover {
    color: rgba(26, 27, 31, 0.75);
  }

  .footer-social-block {
    margin-top: 20px;
    margin-left: -20px;
  }

  .footer-social-link {
    margin-left: 20px;
  }

  .footer-divider {
    margin-top: 60px;
  }

  .contact-form {
    padding: 40px 20px;
  }

  .contact-form-2 {
    padding: 40px 20px;
  }
}

@media screen and (max-width: 479px) {
  .container-5 {
    max-width: none;
  }
}

#w-node-_92ba2680-f75e-0bd2-2b37-859f493e35d8-603e8659 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_92ba2680-f75e-0bd2-2b37-859f493e35e1-603e8659 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_92ba2680-f75e-0bd2-2b37-859f493e35ec-603e8659 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_45b0cb90-4fb1-5b08-a459-92e215f41af2-cf7297ae {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_45b0cb90-4fb1-5b08-a459-92e215f41afb-cf7297ae {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_45b0cb90-4fb1-5b08-a459-92e215f41b04-cf7297ae {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_06e9baf4-c503-c4f2-e28b-746bdb6351fe-152bc1ed {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-_3fb75e2e-c35f-c17a-f68b-6a326a0be14b-152bc1ed {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_3fb75e2e-c35f-c17a-f68b-6a326a0be154-152bc1ed {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_3fb75e2e-c35f-c17a-f68b-6a326a0be15d-152bc1ed {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_0d2504b4-4ee0-23d5-f9c9-f6c7db9f5502-1e08e647 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_0d2504b4-4ee0-23d5-f9c9-f6c7db9f550b-1e08e647 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_0d2504b4-4ee0-23d5-f9c9-f6c7db9f5514-1e08e647 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-f8306d0b-c040-2af0-e2c9-fc6a84498705-14e400ec {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-f8306d0b-c040-2af0-e2c9-fc6a8449870e-14e400ec {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-f8306d0b-c040-2af0-e2c9-fc6a84498717-14e400ec {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

@media screen and (max-width: 479px) {
  #w-node-_06e9baf4-c503-c4f2-e28b-746bdb6351ee-152bc1ed {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-_06e9baf4-c503-c4f2-e28b-746bdb6351f2-152bc1ed {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-_06e9baf4-c503-c4f2-e28b-746bdb6351f6-152bc1ed {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-_06e9baf4-c503-c4f2-e28b-746bdb6351fa-152bc1ed {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-_238376af-7574-dcfb-8413-51b27cdc582d-1e08e647 {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-_238376af-7574-dcfb-8413-51b27cdc5831-1e08e647 {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-_238376af-7574-dcfb-8413-51b27cdc5835-1e08e647 {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-_238376af-7574-dcfb-8413-51b27cdc5839-1e08e647 {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
}